<?xml version="1.0" encoding="UTF-8"?>
<root>
	<Environment_Details>
		<AppUrl>https://192.168.15.148:6565/Talentric/#/login</AppUrl>
	</Environment_Details>
	<timeout>80</timeout>
	
	<Execution_Details>
		<Execution_Type>Single</Execution_Type><!-- Single/Multiple/Hybrid-XX -->	
		<Regression_Suite_Name>Test</Regression_Suite_Name>
	</Execution_Details>
</root>